*, html, body {
    margin: 0;
    padding: 0;
}
body{
    background: url(../../public/assets/vector_bg2.svg) no-repeat left #000;
}
.app {
    font-family: sans-serif;
    background-size: 10%;
    padding-bottom: 50px;
}

button:focus-visible{
    outline: none !important;
}