.form-btn{
    width: 100%;
    height: auto;
    margin-top: 15px;
}
.btn{
    font-size: 16px;
    padding: 10px 15px;
    height: auto;
    background-color: #ED1B2F;
}

.btn:not([disabled]):hover{
    background-color: #ef4051 !important;
}

.btn_center{
    text-align: center;
}

.btn_left{
    text-align: left;
}
.btn_right{
    text-align: right;
}